*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: 0 auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}


.content {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 30px;
  padding: 133px 30px;
}

.search-form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.search-form__fieldset {
  border: none;
  width: 225px;
  padding-right: 20px;
}

.search-form__textfield {
  cursor: pointer;
  color: #fff;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  appearance: none;
  width: 225px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: initial;
  border-right: initial;
  outline: none;
}

.search-form__fieldset-title {
  color: #FFF;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  align-items: center;
}

.search-form__label {
  display: flex;
  width: fit-content;
  cursor: pointer;
  align-items: center;
}

.search-form__pseudo-checkbox {
  display: flex;
  width: 18px;
  height: 18px;
  margin-right: 6px;
  vertical-align: middle;
  background-color: transparent;
  outline: #fff solid 1px;
  cursor: pointer;
}

.content__list {
  position: relative;
  height: 298px;
  overflow-y: auto;
}

.content__list::-webkit-scrollbar {
  width: 4px;
}

.content__list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.content__details {
  width: 100%;
  height: 100%;
  padding-top: 30px;
}

.title {
  color: #FFF;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-description {
  margin-top: 6px;
  color: #FFF;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__card-link {
  text-decoration: none;
  color: #FFF;
  cursor: pointer;
  display: block;
  padding: 2px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-title {
  color: #FFF;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  padding-top: 6px;
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  min-height: 34px;
  cursor: pointer;
  gap: 10px;
  flex-shrink: 0;
  border: 1px solid currentColor;
  align-self: flex-end;
  background-color: transparent;
  color: #FFF;
  text-align: center;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.search-form__submit-button {
  width: 194px;
}

.more-button {
  width: 399px;
}

.search-form__checkbox:checked+span {
  background-color: #fff;
  outline: #fff solid 1px;
  border: 1px solid #545050;
  cursor: pointer;
}

.content__card-link:active {
  background-color: #545050;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible),
.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 2px
}

.search-form__label:hover .search-form__pseudo-checkbox~.search-form__label-text,
.button:hover,
.content__card-link:hover {
  text-decoration: underline;
}

button:focus {
  outline: none;
}

button:active {
  border: 1px solid #FFF;
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  margin: 2px;
}